{% extends 'base_layout.html' %}
{% block body %}

<div class="col-md-12">
    <div class="touch">
        <div class="card text-left">
            <div class="card-body">
                <h1>อัพโหลดรูปภาพ</h1>
                <h3>อัพโหลดรูปภาพเพื่อทายสายพันธุ์แมว</h3>
                <br>
                <form method="post" action="/catscan" enctype="multipart/form-data">
                    <input type="file" name="file1" accept="image/*">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}